@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

/* general ---------------------*/
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font: 10px ProximaNovaRegular, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header, main {
    flex: 1 0 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 0;
    width: 43px;
    height: 2px;
    background: black;
    margin: 10px 0;
}

h1 {
    font: 2.4rem ProximaNovaBold, sans-serif;
    text-transform: uppercase;
}

h2 {
    font: 7.2rem 'Goudy Trajan Regular', serif;
    text-transform: uppercase;
}

h3 {
    font: 1.7rem ProximaNovaBold, sans-serif;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: white
}

.arrow-right {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 275px;
    right: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c59a77;
    font-size: 1.6rem;
    padding-left: 2px;
}

.addTobag {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c59a77;
    font-size: 1rem;
    box-shadow: 0px 5px 7px grey;
}

.detailInfo a:hover, .arrow-right:hover, .addTobag:hover {
    background-color: #c59a77;
    color: white;
}

.black-arrow {
    color: white;
    background-color: black;
    border: 1px solid #c59a77;
    z-index: 100;
}

.black-arrow:hover {
    color: black;
    background-color: white;
    border: none;
}

/* header row 1 ----------------------*/
.header-row-1 {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 15px 0;
    font-weight: 600;
}

.header-row-1 > * {
    display: flex;
    align-items: flex-end;
}

.header-row-1 .contacts {
    flex: 0 0 25%;
    justify-content: flex-start;
}

.contacts .workHours {
    font-size: 1.2rem;
    color: #9c9c9c;
}

.contacts .workTel {
    font-size: 1.4rem;
    margin-right: 10%;
}

.menu-aux {
    flex: 0 0 50%;
    justify-content: space-between;
}

.menu-aux ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color: #9c9c9c;
}

.menu-aux a:hover {
    text-decoration: underline;
}

.login {
    flex: 0 0 22%;
    justify-content: flex-end;
}

.login a {
    flex: 0 1 auto;
    margin-right: 10%;
    text-transform: uppercase;
    color: #9c9c9c;
}

.login a:hover {
    text-decoration: underline;
}

.shoppingBag {
    flex: 0 0 3%;
    justify-content: space-between;
}

.shoppingBag span {
    font-size: 1.2rem;
}

/* header row 2 ----------------------*/
.header-row-2 {
    height: 96px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* header row 3 ---------------------*/
.header-row-3 {
    height: 96px;
    font: 13px ProximaNovaBold, sans-serif;
}

.header-row-3 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
}


.header-row-3 a:hover {
    color: chocolate;
}

/* main ---------------*/
.advert {
    height: 515px;
    position: relative;


    /*background: url("../images/adv_slider_1.png") no-repeat center;*/
}
.advertView {
    width: 100%;
    height: 100%;
}

.advert-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-top: 100px;
    display: flex;
    flex-flow: nowrap column;
    justify-content: flex-start;
    z-index: 50;
}

.slick-dots{
    position: absolute;
    width: 100%;
    top: 60px;
    right: 65px;
    height: 50px;
    width: auto;
    z-index: 50;
}
.slick-dots li {
    display: block;
}

.advert h2 {
    /*position: absolute;
    top: 100px;
    left: 100px;*/
    margin-left: -7px;
    line-height: 1;
}

.advert hr {
    /* position: absolute;
     left: 107px;
     top: 200px;*/
    margin: 30px 0;
}

.advert .motto {
    /* position: absolute;
     left: 107px;
     top: 250px;*/
}

.detailInfo a {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #c59a77;
    font-size: 1.2rem;
}



.advert .product-img {
    position: absolute;
    left: 280px;
    top: 290px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.mainItem {
    flex: 0 0 33.333%;
    border: 1px solid;
    height: 300px;
    position: relative;
}

.mainItem.top {
    height: 195px;
}

.mainItem.wideItem {
    flex: 0 0 66.666%;
    background: url("../images/slider2_1.png") no-repeat;
}

.mainItem.wideItem:hover {
    flex: 0 0 66.666%;
    background: url("../images/slider2_2.png") no-repeat;
}
.top .arrow-right {
    bottom: 30px;
    left: 40px;
    z-index: 100;
}

.top-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    font: 1.8rem ProximaNovaBold, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

.top-name {
    flex: 0 0 50%;
    align-self: flex-start;
    padding: 30px 30px;
}

.top-image-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.top:first-child {
    /*background: url("../images/bg_category_1.png") no-repeat center;
    background-size: auto 120%;*/
    color: #c59a77;
}

.top:nth-child(2) {
    /*background: url("../images/bg_category_2.png") no-repeat center;
    background-size: cover;*/
    color: black;
}

.top:nth-child(3) {
    /* background: linear-gradient(to right, rgb(178,136,102), rgb(220, 191, 196) 55%, rgb(201, 161,135));*/
    color: white;
}

.product {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.product-desc-wrapper {
    flex: 0 1 45%;
    padding: 30px 0 0 30px;
    align-self: flex-start;
}

.product-name,
.shop-header {
    font: 2.4rem ProximaNovaBold, sans-serif ;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.product-desc
{
    max-width: 125px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
    color: #7f7f7f;
}

.product-price {
    padding-top: 80px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #7f7f7f;
    text-transform: uppercase;
}

.shop-desc-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    padding: 30px 0 0 30px;
}

.shop-desc{
    max-width: 80%;
    color: black;
}

.shop-desc{
    max-width: 80%;
    padding-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
    color: #535151;
}

/* footer -------------*/
.footer {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 30px 15px;
    background-color: black;
    color: #8e8e8e;
    font-size: 1.2rem;
}

.footer a {
    display: inline-block;
}

.footer > .col {
    flex: 0 0 12%;
    line-height: 1.4;
}

.footer > .col ul {
    line-height: 2;
}

.footer .partners ul {
    padding-right: 10px;
    line-height: normal;
}

.footer .partners li {
    padding-bottom: 24px;
}

.social-ico span {
    color: #c59a77;
    font-size: 20px;
}