@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/* general ---------------------*/
html {
    font-size: 10px;
}
body {
    max-width: 1280px;
    margin: 0 auto;
}

/* header ----------------------*/
.headerRow1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 1.6rem;
}

.schedule {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.menu1 {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 500px;
}

.login {
    margin: 0 0 0 200px;
}
.shoppingBag {
    display: flex;
    justify-content: space-between;
    width: 30px;
}
.menu1 li {
    display: inline-block;
}

.headerRow1 a{
    text-decoration: none;
}